.icon_accept {
    background-image: url('/icons/32x32/accept.png') !important;
}

.icon_user_preferences_accept {
	background-image: url('/icons/32x32/application_key.png') !important;
}

.icon_contact_personal {
    background-image: url('/icons/32x32/vcard.png') !important;
}


.icon_cp_set_main {
	background-image: url('/icons/32x32/user_suit.png') !important;
}


.icon_add {
    background-image: url('/icons/32x32/add.png') !important;
}

.icon_anchor {
    background-image: url('/icons/32x32/anchor.png') !important;
}

.icon_application {
    background-image: url('/icons/32x32/application.png') !important;
}

.icon_application_add {
    background-image: url('/icons/32x32/application_add.png') !important;
}

.icon_application_cascade {
    background-image: url('/icons/32x32/application_cascade.png') !important;
}

.icon_application_delete {
    background-image: url('/icons/32x32/application_delete.png') !important;
}

.icon_application_double {
    background-image: url('/icons/32x32/application_double.png') !important;
}

.icon_application_edit {
    background-image: url('/icons/32x32/application_edit.png') !important;
}

.icon_application_error {
    background-image: url('/icons/32x32/application_error.png') !important;
}

.icon_application_form {
    background-image: url('/icons/32x32/application_form.png') !important;
}

.icon_application_form_add {
    background-image: url('/icons/32x32/application_form_add.png') !important;
}

.icon_application_form_delete {
    background-image: url('/icons/32x32/application_form_delete.png') !important;
}

.icon_application_form_edit {
    background-image: url('/icons/32x32/application_form_edit.png') !important;
}

.icon_application_form_magnify {
    background-image: url('/icons/32x32/application_form_magnify.png') !important;
}

.icon_application_get {
    background-image: url('/icons/32x32/application_get.png') !important;
}

.icon_application_go {
    background-image: url('/icons/32x32/application_go.png') !important;
}

.icon_application_home {
    background-image: url('/icons/32x32/application_home.png') !important;
}

.icon_application_key {
    background-image: url('/icons/32x32/application_key.png') !important;
}

.icon_application_lightning {
    background-image: url('/icons/32x32/application_lightning.png') !important;
}

.icon_application_link {
    background-image: url('/icons/32x32/application_link.png') !important;
}

.icon_application_osx {
    background-image: url('/icons/32x32/application_osx.png') !important;
}

.icon_application_osx_terminal {
    background-image: url('/icons/32x32/application_osx_terminal.png') !important;
}

.icon_application_put {
    background-image: url('/icons/32x32/application_put.png') !important;
}

.icon_application_side_boxes {
    background-image: url('/icons/32x32/application_side_boxes.png') !important;
}

.icon_application_side_contract {
    background-image: url('/icons/32x32/application_side_contract.png') !important;
}

.icon_application_side_expand {
    background-image: url('/icons/32x32/application_side_expand.png') !important;
}

.icon_application_side_list {
    background-image: url('/icons/32x32/application_side_list.png') !important;
}

.icon_application_side_tree {
    background-image: url('/icons/32x32/application_side_tree.png') !important;
}

.icon_application_split {
    background-image: url('/icons/32x32/application_split.png') !important;
}

.icon_application_tile_horizontal {
    background-image: url('/icons/32x32/application_tile_horizontal.png') !important;
}

.icon_application_tile_vertical {
    background-image: url('/icons/32x32/application_tile_vertical.png') !important;
}

.icon_application_view_columns {
    background-image: url('/icons/32x32/application_view_columns.png') !important;
}

.icon_application_view_detail {
    background-image: url('/icons/32x32/application_view_detail.png') !important;
}

.icon_application_view_gallery {
    background-image: url('/icons/32x32/application_view_gallery.png') !important;
}

.icon_application_view_icons {
    background-image: url('/icons/32x32/application_view_icons.png') !important;
}

.icon_application_view_list {
    background-image: url('/icons/32x32/application_view_list.png') !important;
}

.icon_application_view_tile {
    background-image: url('/icons/32x32/application_view_tile.png') !important;
}

.icon_application_xp {
    background-image: url('/icons/32x32/application_xp.png') !important;
}

.icon_application_xp_terminal {
    background-image: url('/icons/32x32/application_xp_terminal.png') !important;
}

.icon_arrow_branch {
    background-image: url('/icons/32x32/arrow_branch.png') !important;
}

.icon_arrow_divide {
    background-image: url('/icons/32x32/arrow_divide.png') !important;
}

.icon_arrow_down {
    background-image: url('/icons/32x32/arrow_down.png') !important;
}

.icon_arrow_in {
    background-image: url('/icons/32x32/arrow_in.png') !important;
}

.icon_arrow_inout {
    background-image: url('/icons/32x32/arrow_inout.png') !important;
}

.icon_arrow_join {
    background-image: url('/icons/32x32/arrow_join.png') !important;
}

.icon_arrow_left {
    background-image: url('/icons/32x32/arrow_left.png') !important;
}

.icon_arrow_merge {
    background-image: url('/icons/32x32/arrow_merge.png') !important;
}

.icon_arrow_out {
    background-image: url('/icons/32x32/arrow_out.png') !important;
}

.icon_arrow_redo {
    background-image: url('/icons/32x32/arrow_redo.png') !important;
}

.icon_arrow_refresh {
    background-image: url('/icons/32x32/arrow_refresh.png') !important;
}

.icon_arrow_refresh_small {
    background-image: url('/icons/32x32/arrow_refresh_small.png') !important;
}

.icon_arrow_right {
    background-image: url('/icons/32x32/arrow_right.png') !important;
}

.icon_arrow_rotate_anticlockwise {
    background-image: url('/icons/32x32/arrow_rotate_anticlockwise.png') !important;
}

.icon_arrow_rotate_clockwise {
    background-image: url('/icons/32x32/arrow_rotate_clockwise.png') !important;
}

.icon_arrow_switch {
    background-image: url('/icons/32x32/arrow_switch.png') !important;
}

.icon_arrow_turn_left {
    background-image: url('/icons/32x32/arrow_turn_left.png') !important;
}

.icon_arrow_turn_right {
    background-image: url('/icons/32x32/arrow_turn_right.png') !important;
}

.icon_arrow_undo {
    background-image: url('/icons/32x32/arrow_undo.png') !important;
}

.icon_arrow_up {
    background-image: url('/icons/32x32/arrow_up.png') !important;
}

.icon_asterisk_orange {
    background-image: url('/icons/32x32/asterisk_orange.png') !important;
}

.icon_asterisk_yellow {
    background-image: url('/icons/32x32/asterisk_yellow.png') !important;
}

.icon_attach {
    background-image: url('/icons/32x32/attach.png') !important;
}

.icon_award_star_add {
    background-image: url('/icons/32x32/award_star_add.png') !important;
}

.icon_award_star_bronze_1 {
    background-image: url('/icons/32x32/award_star_bronze_1.png') !important;
}

.icon_award_star_bronze_2 {
    background-image: url('/icons/32x32/award_star_bronze_2.png') !important;
}

.icon_award_star_bronze_3 {
    background-image: url('/icons/32x32/award_star_bronze_3.png') !important;
}

.icon_award_star_delete {
    background-image: url('/icons/32x32/award_star_delete.png') !important;
}

.icon_award_star_gold_1 {
    background-image: url('/icons/32x32/award_star_gold_1.png') !important;
}

.icon_award_star_gold_2 {
    background-image: url('/icons/32x32/award_star_gold_2.png') !important;
}

.icon_award_star_gold_3 {
    background-image: url('/icons/32x32/award_star_gold_3.png') !important;
}

.icon_award_star_silver_1 {
    background-image: url('/icons/32x32/award_star_silver_1.png') !important;
}

.icon_award_star_silver_2 {
    background-image: url('/icons/32x32/award_star_silver_2.png') !important;
}

.icon_award_star_silver_3 {
    background-image: url('/icons/32x32/award_star_silver_3.png') !important;
}

.icon_basket {
    background-image: url('/icons/32x32/basket.png') !important;
}

.icon_basket_add {
    background-image: url('/icons/32x32/basket_add.png') !important;
}

.icon_basket_delete {
    background-image: url('/icons/32x32/basket_delete.png') !important;
}

.icon_basket_edit {
    background-image: url('/icons/32x32/basket_edit.png') !important;
}

.icon_basket_error {
    background-image: url('/icons/32x32/basket_error.png') !important;
}

.icon_basket_go {
    background-image: url('/icons/32x32/basket_go.png') !important;
}

.icon_basket_put {
    background-image: url('/icons/32x32/basket_put.png') !important;
}

.icon_basket_remove {
    background-image: url('/icons/32x32/basket_remove.png') !important;
}

.icon_bell {
    background-image: url('/icons/32x32/bell.png') !important;
}

.icon_bell_add {
    background-image: url('/icons/32x32/bell_add.png') !important;
}

.icon_bell_delete {
    background-image: url('/icons/32x32/bell_delete.png') !important;
}

.icon_bell_error {
    background-image: url('/icons/32x32/bell_error.png') !important;
}

.icon_bell_go {
    background-image: url('/icons/32x32/bell_go.png') !important;
}

.icon_bell_link {
    background-image: url('/icons/32x32/bell_link.png') !important;
}

.icon_bin {
    background-image: url('/icons/32x32/bin.png') !important;
}

.icon_bin_closed {
    background-image: url('/icons/32x32/bin_closed.png') !important;
}

.icon_bin_empty {
    background-image: url('/icons/32x32/bin_empty.png') !important;
}

.icon_bomb {
    background-image: url('/icons/32x32/bomb.png') !important;
}

.icon_book {
    background-image: url('/icons/32x32/book.png') !important;
}

.icon_book_add {
    background-image: url('/icons/32x32/book_add.png') !important;
}

.icon_book_addresses {
    background-image: url('/icons/32x32/book_addresses.png') !important;
}

.icon_book_delete {
    background-image: url('/icons/32x32/book_delete.png') !important;
}

.icon_book_edit {
    background-image: url('/icons/32x32/book_edit.png') !important;
}

.icon_book_error {
    background-image: url('/icons/32x32/book_error.png') !important;
}

.icon_book_go {
    background-image: url('/icons/32x32/book_go.png') !important;
}

.icon_book_key {
    background-image: url('/icons/32x32/book_key.png') !important;
}

.icon_book_link {
    background-image: url('/icons/32x32/book_link.png') !important;
}

.icon_book_next {
    background-image: url('/icons/32x32/book_next.png') !important;
}

.icon_book_open {
    background-image: url('/icons/32x32/book_open.png') !important;
}

.icon_book_previous {
    background-image: url('/icons/32x32/book_previous.png') !important;
}

.icon_box {
    background-image: url('/icons/32x32/box.png') !important;
}

.icon_box_down {
    background-image: url('/icons/32x32/box_down.png') !important;
}

.icon_brick {
    background-image: url('/icons/32x32/brick.png') !important;
}

.icon_bricks {
    background-image: url('/icons/32x32/bricks.png') !important;
}

.icon_brick_add {
    background-image: url('/icons/32x32/brick_add.png') !important;
}

.icon_brick_delete {
    background-image: url('/icons/32x32/brick_delete.png') !important;
}

.icon_brick_edit {
    background-image: url('/icons/32x32/brick_edit.png') !important;
}

.icon_brick_error {
    background-image: url('/icons/32x32/brick_error.png') !important;
}

.icon_brick_go {
    background-image: url('/icons/32x32/brick_go.png') !important;
}

.icon_brick_link {
    background-image: url('/icons/32x32/brick_link.png') !important;
}

.icon_briefcase {
    background-image: url('/icons/32x32/briefcase.png') !important;
}

.icon_bug {
    background-image: url('/icons/32x32/bug.png') !important;
}

.icon_bug_add {
    background-image: url('/icons/32x32/bug_add.png') !important;
}

.icon_bug_delete {
    background-image: url('/icons/32x32/bug_delete.png') !important;
}

.icon_bug_edit {
    background-image: url('/icons/32x32/bug_edit.png') !important;
}

.icon_bug_error {
    background-image: url('/icons/32x32/bug_error.png') !important;
}

.icon_bug_go {
    background-image: url('/icons/32x32/bug_go.png') !important;
}

.icon_bug_link {
    background-image: url('/icons/32x32/bug_link.png') !important;
}

.icon_building {
    background-image: url('/icons/32x32/building.png') !important;
}

.icon_building_add {
    background-image: url('/icons/32x32/building_add.png') !important;
}

.icon_building_delete {
    background-image: url('/icons/32x32/building_delete.png') !important;
}

.icon_building_edit {
    background-image: url('/icons/32x32/building_edit.png') !important;
}

.icon_building_error {
    background-image: url('/icons/32x32/building_error.png') !important;
}

.icon_building_go {
    background-image: url('/icons/32x32/building_go.png') !important;
}

.icon_building_key {
    background-image: url('/icons/32x32/building_key.png') !important;
}

.icon_building_link {
    background-image: url('/icons/32x32/building_link.png') !important;
}

.icon_bullet_add {
    background-image: url('/icons/32x32/bullet_add.png') !important;
}

.icon_bullet_arrow_bottom {
    background-image: url('/icons/32x32/bullet_arrow_bottom.png') !important;
}

.icon_bullet_arrow_down {
    background-image: url('/icons/32x32/bullet_arrow_down.png') !important;
}

.icon_bullet_arrow_top {
    background-image: url('/icons/32x32/bullet_arrow_top.png') !important;
}

.icon_bullet_arrow_up {
    background-image: url('/icons/32x32/bullet_arrow_up.png') !important;
}

.icon_bullet_black {
    background-image: url('/icons/32x32/bullet_black.png') !important;
}

.icon_bullet_blue {
    background-image: url('/icons/32x32/bullet_blue.png') !important;
}

.icon_bullet_delete {
    background-image: url('/icons/32x32/bullet_delete.png') !important;
}

.icon_bullet_disk {
    background-image: url('/icons/32x32/bullet_disk.png') !important;
}

.icon_bullet_error {
    background-image: url('/icons/32x32/bullet_error.png') !important;
}

.icon_bullet_feed {
    background-image: url('/icons/32x32/bullet_feed.png') !important;
}

.icon_bullet_go {
    background-image: url('/icons/32x32/bullet_go.png') !important;
}

.icon_bullet_green {
    background-image: url('/icons/32x32/bullet_green.png') !important;
}

.icon_bullet_key {
    background-image: url('/icons/32x32/bullet_key.png') !important;
}

.icon_bullet_orange {
    background-image: url('/icons/32x32/bullet_orange.png') !important;
}

.icon_bullet_picture {
    background-image: url('/icons/32x32/bullet_picture.png') !important;
}

.icon_bullet_pink {
    background-image: url('/icons/32x32/bullet_pink.png') !important;
}

.icon_bullet_purple {
    background-image: url('/icons/32x32/bullet_purple.png') !important;
}

.icon_bullet_red {
    background-image: url('/icons/32x32/bullet_red.png') !important;
}

.icon_bullet_star {
    background-image: url('/icons/32x32/bullet_star.png') !important;
}

.icon_bullet_toggle_minus {
    background-image: url('/icons/32x32/bullet_toggle_minus.png') !important;
}

.icon_bullet_toggle_plus {
    background-image: url('/icons/32x32/bullet_toggle_plus.png') !important;
}

.icon_bullet_white {
    background-image: url('/icons/32x32/bullet_white.png') !important;
}

.icon_bullet_wrench {
    background-image: url('/icons/32x32/bullet_wrench.png') !important;
}

.icon_bullet_yellow {
    background-image: url('/icons/32x32/bullet_yellow.png') !important;
}

.icon_cake {
    background-image: url('/icons/32x32/cake.png') !important;
}

.icon_calculator {
    background-image: url('/icons/32x32/calculator.png') !important;
}

.icon_calculator_add {
    background-image: url('/icons/32x32/calculator_add.png') !important;
}

.icon_calculator_delete {
    background-image: url('/icons/32x32/calculator_delete.png') !important;
}

.icon_calculator_edit {
    background-image: url('/icons/32x32/calculator_edit.png') !important;
}

.icon_calculator_error {
    background-image: url('/icons/32x32/calculator_error.png') !important;
}

.icon_calculator_link {
    background-image: url('/icons/32x32/calculator_link.png') !important;
}

.icon_calendar {
    background-image: url('/icons/32x32/calendar.png') !important;
}

.icon_calendar_add {
    background-image: url('/icons/32x32/calendar_add.png') !important;
}

.icon_calendar_delete {
    background-image: url('/icons/32x32/calendar_delete.png') !important;
}

.icon_calendar_edit {
    background-image: url('/icons/32x32/calendar_edit.png') !important;
}

.icon_calendar_link {
    background-image: url('/icons/32x32/calendar_link.png') !important;
}

.icon_calendar_view_day {
    background-image: url('/icons/32x32/calendar_view_day.png') !important;
}

.icon_calendar_view_month {
    background-image: url('/icons/32x32/calendar_view_month.png') !important;
}

.icon_calendar_view_week {
    background-image: url('/icons/32x32/calendar_view_week.png') !important;
}

.icon_camera {
    background-image: url('/icons/32x32/camera.png') !important;
}

.icon_camera_add {
    background-image: url('/icons/32x32/camera_add.png') !important;
}

.icon_camera_delete {
    background-image: url('/icons/32x32/camera_delete.png') !important;
}

.icon_camera_edit {
    background-image: url('/icons/32x32/camera_edit.png') !important;
}

.icon_map_delete {
    background-image: url('/icons/32x32/map_delete.png') !important;
}

.icon_map_edit {
    background-image: url('/icons/32x32/map_edit.png') !important;
}

.icon_map_go {
    background-image: url('/icons/32x32/map_go.png') !important;
}

.icon_map_magnify {
    background-image: url('/icons/32x32/map_magnify.png') !important;
}

.icon_medal_bronze_1 {
    background-image: url('/icons/32x32/medal_bronze_1.png') !important;
}

.icon_medal_bronze_2 {
    background-image: url('/icons/32x32/medal_bronze_2.png') !important;
}

.icon_medal_bronze_3 {
    background-image: url('/icons/32x32/medal_bronze_3.png') !important;
}

.icon_medal_bronze_add {
    background-image: url('/icons/32x32/medal_bronze_add.png') !important;
}

.icon_medal_bronze_delete {
    background-image: url('/icons/32x32/medal_bronze_delete.png') !important;
}

.icon_medal_gold_1 {
    background-image: url('/icons/32x32/medal_gold_1.png') !important;
}

.icon_medal_gold_2 {
    background-image: url('/icons/32x32/medal_gold_2.png') !important;
}

.icon_medal_gold_3 {
    background-image: url('/icons/32x32/medal_gold_3.png') !important;
}

.icon_medal_gold_add {
    background-image: url('/icons/32x32/medal_gold_add.png') !important;
}

.icon_medal_gold_delete {
    background-image: url('/icons/32x32/medal_gold_delete.png') !important;
}

.icon_medal_silver_1 {
    background-image: url('/icons/32x32/medal_silver_1.png') !important;
}

.icon_medal_silver_2 {
    background-image: url('/icons/32x32/medal_silver_2.png') !important;
}

.icon_medal_silver_3 {
    background-image: url('/icons/32x32/medal_silver_3.png') !important;
}

.icon_medal_silver_add {
    background-image: url('/icons/32x32/medal_silver_add.png') !important;
}

.icon_medal_silver_delete {
    background-image: url('/icons/32x32/medal_silver_delete.png') !important;
}

.icon_money {
    background-image: url('/icons/32x32/money.png') !important;
}

.icon_money_add {
    background-image: url('/icons/32x32/money_add.png') !important;
}

.icon_money_delete {
    background-image: url('/icons/32x32/money_delete.png') !important;
}

.icon_money_dollar {
    background-image: url('/icons/32x32/money_dollar.png') !important;
}

.icon_money_euro {
    background-image: url('/icons/32x32/money_euro.png') !important;
}

.icon_money_pound {
    background-image: url('/icons/32x32/money_pound.png') !important;
}

.icon_money_yen {
    background-image: url('/icons/32x32/money_yen.png') !important;
}

.icon_monitor {
    background-image: url('/icons/32x32/monitor.png') !important;
}

.icon_monitor_add {
    background-image: url('/icons/32x32/monitor_add.png') !important;
}

.icon_monitor_delete {
    background-image: url('/icons/32x32/monitor_delete.png') !important;
}

.icon_monitor_edit {
    background-image: url('/icons/32x32/monitor_edit.png') !important;
}

.icon_monitor_error {
    background-image: url('/icons/32x32/monitor_error.png') !important;
}

.icon_monitor_go {
    background-image: url('/icons/32x32/monitor_go.png') !important;
}

.icon_monitor_lightning {
    background-image: url('/icons/32x32/monitor_lightning.png') !important;
}

.icon_monitor_link {
    background-image: url('/icons/32x32/monitor_link.png') !important;
}

.icon_mouse {
    background-image: url('/icons/32x32/mouse.png') !important;
}

.icon_mouse_add {
    background-image: url('/icons/32x32/mouse_add.png') !important;
}

.icon_mouse_delete {
    background-image: url('/icons/32x32/mouse_delete.png') !important;
}

.icon_mouse_error {
    background-image: url('/icons/32x32/mouse_error.png') !important;
}

.icon_music {
    background-image: url('/icons/32x32/music.png') !important;
}

.icon_new {
    background-image: url('/icons/32x32/new.png') !important;
}

.icon_newspaper {
    background-image: url('/icons/32x32/newspaper.png') !important;
}

.icon_newspaper_add {
    background-image: url('/icons/32x32/newspaper_add.png') !important;
}

.icon_newspaper_delete {
    background-image: url('/icons/32x32/newspaper_delete.png') !important;
}

.icon_newspaper_go {
    background-image: url('/icons/32x32/newspaper_go.png') !important;
}

.icon_newspaper_link {
    background-image: url('/icons/32x32/newspaper_link.png') !important;
}

.icon_note {
    background-image: url('/icons/32x32/note.png') !important;
}

.icon_note_add {
    background-image: url('/icons/32x32/note_add.png') !important;
}

.icon_note_delete {
    background-image: url('/icons/32x32/note_delete.png') !important;
}

.icon_note_edit {
    background-image: url('/icons/32x32/note_edit.png') !important;
}

.icon_note_error {
    background-image: url('/icons/32x32/note_error.png') !important;
}

.icon_note_go {
    background-image: url('/icons/32x32/note_go.png') !important;
}

.icon_package {
    background-image: url('/icons/32x32/package.png') !important;
}

.icon_package_add {
    background-image: url('/icons/32x32/package_add.png') !important;
}

.icon_package_delete {
    background-image: url('/icons/32x32/package_delete.png') !important;
}

.icon_package_go {
    background-image: url('/icons/32x32/package_go.png') !important;
}

.icon_package_green {
    background-image: url('/icons/32x32/package_green.png') !important;
}

.icon_package_link {
    background-image: url('/icons/32x32/package_link.png') !important;
}

.icon_page {
    background-image: url('/icons/32x32/page.png') !important;
}

.icon_page_add {
    background-image: url('/icons/32x32/page_add.png') !important;
}

.icon_page_attach {
    background-image: url('/icons/32x32/page_attach.png') !important;
}

.icon_page_code {
    background-image: url('/icons/32x32/page_code.png') !important;
}

.icon_page_copy {
    background-image: url('/icons/32x32/page_copy.png') !important;
}

.icon_page_delete {
    background-image: url('/icons/32x32/page_delete.png') !important;
}

.icon_page_edit {
    background-image: url('/icons/32x32/page_edit.png') !important;
}

.icon_page_error {
    background-image: url('/icons/32x32/page_error.png') !important;
}

.icon_page_excel {
    background-image: url('/icons/32x32/page_excel.png') !important;
}

.icon_page_find {
    background-image: url('/icons/32x32/page_find.png') !important;
}

.icon_page_gear {
    background-image: url('/icons/32x32/page_gear.png') !important;
}

.icon_page_go {
    background-image: url('/icons/32x32/page_go.png') !important;
}

.icon_page_green {
    background-image: url('/icons/32x32/page_green.png') !important;
}

.icon_page_key {
    background-image: url('/icons/32x32/page_key.png') !important;
}

.icon_page_lightning {
    background-image: url('/icons/32x32/page_lightning.png') !important;
}

.icon_page_link {
    background-image: url('/icons/32x32/page_link.png') !important;
}

.icon_page_paintbrush {
    background-image: url('/icons/32x32/page_paintbrush.png') !important;
}

.icon_page_paste {
    background-image: url('/icons/32x32/page_paste.png') !important;
}

.icon_page_red {
    background-image: url('/icons/32x32/page_red.png') !important;
}

.icon_page_refresh {
    background-image: url('/icons/32x32/page_refresh.png') !important;
}

.icon_page_save {
    background-image: url('/icons/32x32/page_save.png') !important;
}

.icon_page_white {
    background-image: url('/icons/32x32/page_white.png') !important;
}

.icon_page_white_acrobat {
    background-image: url('/icons/32x32/page_white_acrobat.png') !important;
}

.icon_page_white_actionscript {
    background-image: url('/icons/32x32/page_white_actionscript.png') !important;
}

.icon_page_white_add {
    background-image: url('/icons/32x32/page_white_add.png') !important;
}

.icon_page_white_c {
    background-image: url('/icons/32x32/page_white_c.png') !important;
}

.icon_page_white_camera {
    background-image: url('/icons/32x32/page_white_camera.png') !important;
}

.icon_page_white_cd {
    background-image: url('/icons/32x32/page_white_cd.png') !important;
}

.icon_page_white_code {
    background-image: url('/icons/32x32/page_white_code.png') !important;
}

.icon_page_white_code_red {
    background-image: url('/icons/32x32/page_white_code_red.png') !important;
}

.icon_page_white_compress {
    background-image: url('/icons/32x32/page_white_compress.png') !important;
}

.icon_page_white_copy {
    background-image: url('/icons/32x32/page_white_copy.png') !important;
}

.icon_page_white_cplusplus {
    background-image: url('/icons/32x32/page_white_cplusplus.png') !important;
}

.icon_page_white_csharp {
    background-image: url('/icons/32x32/page_white_csharp.png') !important;
}

.icon_page_white_cup {
    background-image: url('/icons/32x32/page_white_cup.png') !important;
}

.icon_page_white_database {
    background-image: url('/icons/32x32/page_white_database.png') !important;
}

.icon_camera_error {
    background-image: url('/icons/32x32/camera_error.png') !important;
}

.icon_camera_go {
    background-image: url('/icons/32x32/camera_go.png') !important;
}

.icon_camera_link {
    background-image: url('/icons/32x32/camera_link.png') !important;
}

.icon_camera_small {
    background-image: url('/icons/32x32/camera_small.png') !important;
}

.icon_cancel {
    background-image: url('/icons/32x32/cancel.png') !important;
}

.icon_car {
    background-image: url('/icons/32x32/car.png') !important;
}

.icon_cart {
    background-image: url('/icons/32x32/cart.png') !important;
}

.icon_cart_add {
    background-image: url('/icons/32x32/cart_add.png') !important;
}

.icon_cart_delete {
    background-image: url('/icons/32x32/cart_delete.png') !important;
}

.icon_cart_edit {
    background-image: url('/icons/32x32/cart_edit.png') !important;
}

.icon_cart_error {
    background-image: url('/icons/32x32/cart_error.png') !important;
}

.icon_cart_go {
    background-image: url('/icons/32x32/cart_go.png') !important;
}

.icon_cart_put {
    background-image: url('/icons/32x32/cart_put.png') !important;
}

.icon_cart_remove {
    background-image: url('/icons/32x32/cart_remove.png') !important;
}

.icon_car_add {
    background-image: url('/icons/32x32/car_add.png') !important;
}

.icon_car_delete {
    background-image: url('/icons/32x32/car_delete.png') !important;
}

.icon_cd {
    background-image: url('/icons/32x32/cd.png') !important;
}

.icon_cd_add {
    background-image: url('/icons/32x32/cd_add.png') !important;
}

.icon_cd_burn {
    background-image: url('/icons/32x32/cd_burn.png') !important;
}

.icon_cd_delete {
    background-image: url('/icons/32x32/cd_delete.png') !important;
}

.icon_cd_edit {
    background-image: url('/icons/32x32/cd_edit.png') !important;
}

.icon_cd_eject {
    background-image: url('/icons/32x32/cd_eject.png') !important;
}

.icon_cd_go {
    background-image: url('/icons/32x32/cd_go.png') !important;
}

.icon_chart_bar {
    background-image: url('/icons/32x32/chart_bar.png') !important;
}

.icon_chart_bar_add {
    background-image: url('/icons/32x32/chart_bar_add.png') !important;
}

.icon_chart_bar_delete {
    background-image: url('/icons/32x32/chart_bar_delete.png') !important;
}

.icon_chart_bar_edit {
    background-image: url('/icons/32x32/chart_bar_edit.png') !important;
}

.icon_chart_bar_error {
    background-image: url('/icons/32x32/chart_bar_error.png') !important;
}

.icon_chart_bar_link {
    background-image: url('/icons/32x32/chart_bar_link.png') !important;
}

.icon_chart_curve {
    background-image: url('/icons/32x32/chart_curve.png') !important;
}

.icon_chart_curve_add {
    background-image: url('/icons/32x32/chart_curve_add.png') !important;
}

.icon_chart_curve_delete {
    background-image: url('/icons/32x32/chart_curve_delete.png') !important;
}

.icon_chart_curve_edit {
    background-image: url('/icons/32x32/chart_curve_edit.png') !important;
}

.icon_chart_curve_error {
    background-image: url('/icons/32x32/chart_curve_error.png') !important;
}

.icon_chart_curve_go {
    background-image: url('/icons/32x32/chart_curve_go.png') !important;
}

.icon_chart_curve_link {
    background-image: url('/icons/32x32/chart_curve_link.png') !important;
}

.icon_chart_line {
    background-image: url('/icons/32x32/chart_line.png') !important;
}

.icon_chart_line_add {
    background-image: url('/icons/32x32/chart_line_add.png') !important;
}

.icon_chart_line_delete {
    background-image: url('/icons/32x32/chart_line_delete.png') !important;
}

.icon_chart_line_edit {
    background-image: url('/icons/32x32/chart_line_edit.png') !important;
}

.icon_chart_line_error {
    background-image: url('/icons/32x32/chart_line_error.png') !important;
}

.icon_chart_line_link {
    background-image: url('/icons/32x32/chart_line_link.png') !important;
}

.icon_chart_organisation {
    background-image: url('/icons/32x32/chart_organisation.png') !important;
}

.icon_chart_organisation_add {
    background-image: url('/icons/32x32/chart_organisation_add.png') !important;
}

.icon_chart_pie {
    background-image: url('/icons/32x32/chart_pie.png') !important;
}

.icon_chart_pie_add {
    background-image: url('/icons/32x32/chart_pie_add.png') !important;
}

.icon_chart_pie_delete {
    background-image: url('/icons/32x32/chart_pie_delete.png') !important;
}

.icon_chart_pie_edit {
    background-image: url('/icons/32x32/chart_pie_edit.png') !important;
}

.icon_chart_pie_error {
    background-image: url('/icons/32x32/chart_pie_error.png') !important;
}

.icon_chart_pie_link {
    background-image: url('/icons/32x32/chart_pie_link.png') !important;
}

.icon_clock_ {
    background-image: url('/icons/32x32/clock_.png') !important;
}

.icon_clock_add {
    background-image: url('/icons/32x32/clock_add.png') !important;
}

.icon_clock_delete {
    background-image: url('/icons/32x32/clock_delete.png') !important;
}

.icon_clock_edit {
    background-image: url('/icons/32x32/clock_edit.png') !important;
}

.icon_clock_error {
    background-image: url('/icons/32x32/clock_error.png') !important;
}

.icon_clock_go {
    background-image: url('/icons/32x32/clock_go.png') !important;
}

.icon_clock_link {
    background-image: url('/icons/32x32/clock_link.png') !important;
}

.icon_clock_pause {
    background-image: url('/icons/32x32/clock_pause.png') !important;
}

.icon_clock_play {
    background-image: url('/icons/32x32/clock_play.png') !important;
}

.icon_clock_red {
    background-image: url('/icons/32x32/clock_red.png') !important;
}

.icon_clock_stop {
    background-image: url('/icons/32x32/clock_stop.png') !important;
}

.icon_cog {
    background-image: url('/icons/32x32/cog.png') !important;
}

.icon_cog_add {
    background-image: url('/icons/32x32/cog_add.png') !important;
}

.icon_cog_delete {
    background-image: url('/icons/32x32/cog_delete.png') !important;
}

.icon_cog_edit {
    background-image: url('/icons/32x32/cog_edit.png') !important;
}

.icon_cog_error {
    background-image: url('/icons/32x32/cog_error.png') !important;
}

.icon_cog_go {
    background-image: url('/icons/32x32/cog_go.png') !important;
}

.icon_coins {
    background-image: url('/icons/32x32/coins.png') !important;
}

.icon_coins_add {
    background-image: url('/icons/32x32/coins_add.png') !important;
}

.icon_coins_delete {
    background-image: url('/icons/32x32/coins_delete.png') !important;
}

.icon_color_swatch {
    background-image: url('/icons/32x32/color_swatch.png') !important;
}

.icon_color_wheel {
    background-image: url('/icons/32x32/color_wheel.png') !important;
}

.icon_comment {
    background-image: url('/icons/32x32/comment.png') !important;
}

.icon_comments {
    background-image: url('/icons/32x32/comments.png') !important;
}

.icon_comments_add {
    background-image: url('/icons/32x32/comments_add.png') !important;
}

.icon_comments_delete {
    background-image: url('/icons/32x32/comments_delete.png') !important;
}

.icon_comment_add {
    background-image: url('/icons/32x32/comment_add.png') !important;
}

.icon_comment_delete {
    background-image: url('/icons/32x32/comment_delete.png') !important;
}

.icon_comment_edit {
    background-image: url('/icons/32x32/comment_edit.png') !important;
}

.icon_compress {
    background-image: url('/icons/32x32/compress.png') !important;
}

.icon_computer {
    background-image: url('/icons/32x32/computer.png') !important;
}

.icon_computer_add {
    background-image: url('/icons/32x32/computer_add.png') !important;
}

.icon_computer_delete {
    background-image: url('/icons/32x32/computer_delete.png') !important;
}

.icon_computer_edit {
    background-image: url('/icons/32x32/computer_edit.png') !important;
}

.icon_computer_error {
    background-image: url('/icons/32x32/computer_error.png') !important;
}

.icon_computer_go {
    background-image: url('/icons/32x32/computer_go.png') !important;
}

.icon_computer_key {
    background-image: url('/icons/32x32/computer_key.png') !important;
}

.icon_computer_link {
    background-image: url('/icons/32x32/computer_link.png') !important;
}

.icon_connect {
    background-image: url('/icons/32x32/connect.png') !important;
}

.icon_contrast {
    background-image: url('/icons/32x32/contrast.png') !important;
}

.icon_contrast_decrease {
    background-image: url('/icons/32x32/contrast_decrease.png') !important;
}

.icon_contrast_high {
    background-image: url('/icons/32x32/contrast_high.png') !important;
}

.icon_contrast_increase {
    background-image: url('/icons/32x32/contrast_increase.png') !important;
}

.icon_contrast_low {
    background-image: url('/icons/32x32/contrast_low.png') !important;
}

.icon_controller {
    background-image: url('/icons/32x32/controller.png') !important;
}

.icon_controller_add {
    background-image: url('/icons/32x32/controller_add.png') !important;
}

.icon_controller_delete {
    background-image: url('/icons/32x32/controller_delete.png') !important;
}

.icon_controller_error {
    background-image: url('/icons/32x32/controller_error.png') !important;
}

.icon_control_eject {
    background-image: url('/icons/32x32/control_eject.png') !important;
}

.icon_control_eject_blue {
    background-image: url('/icons/32x32/control_eject_blue.png') !important;
}

.icon_control_end {
    background-image: url('/icons/32x32/control_end.png') !important;
}

.icon_control_end_blue {
    background-image: url('/icons/32x32/control_end_blue.png') !important;
}

.icon_control_equalizer {
    background-image: url('/icons/32x32/control_equalizer.png') !important;
}

.icon_control_equalizer_blue {
    background-image: url('/icons/32x32/control_equalizer_blue.png') !important;
}

.icon_control_fastforward {
    background-image: url('/icons/32x32/control_fastforward.png') !important;
}

.icon_control_fastforward_blue {
    background-image: url('/icons/32x32/control_fastforward_blue.png') !important;
}

.icon_control_pause {
    background-image: url('/icons/32x32/control_pause.png') !important;
}

.icon_control_pause_blue {
    background-image: url('/icons/32x32/control_pause_blue.png') !important;
}

.icon_control_play {
    background-image: url('/icons/32x32/control_play.png') !important;
}

.icon_control_play_blue {
    background-image: url('/icons/32x32/control_play_blue.png') !important;
}

.icon_control_repeat {
    background-image: url('/icons/32x32/control_repeat.png') !important;
}

.icon_control_repeat_blue {
    background-image: url('/icons/32x32/control_repeat_blue.png') !important;
}

.icon_control_rewind {
    background-image: url('/icons/32x32/control_rewind.png') !important;
}

.icon_control_rewind_blue {
    background-image: url('/icons/32x32/control_rewind_blue.png') !important;
}

.icon_control_start {
    background-image: url('/icons/32x32/control_start.png') !important;
}

.icon_control_start_blue {
    background-image: url('/icons/32x32/control_start_blue.png') !important;
}

.icon_control_stop {
    background-image: url('/icons/32x32/control_stop.png') !important;
}

.icon_control_stop_blue {
    background-image: url('/icons/32x32/control_stop_blue.png') !important;
}

.icon_creditcards {
    background-image: url('/icons/32x32/creditcards.png') !important;
}

.icon_cross {
    background-image: url('/icons/32x32/cross.png') !important;
}

.icon_css {
    background-image: url('/icons/32x32/css.png') !important;
}

.icon_css_add {
    background-image: url('/icons/32x32/css_add.png') !important;
}

.icon_css_delete {
    background-image: url('/icons/32x32/css_delete.png') !important;
}

.icon_css_go {
    background-image: url('/icons/32x32/css_go.png') !important;
}

.icon_css_valid {
    background-image: url('/icons/32x32/css_valid.png') !important;
}

.icon_cup {
    background-image: url('/icons/32x32/cup.png') !important;
}

.icon_cup_add {
    background-image: url('/icons/32x32/cup_add.png') !important;
}

.icon_cup_delete {
    background-image: url('/icons/32x32/cup_delete.png') !important;
}

.icon_cup_edit {
    background-image: url('/icons/32x32/cup_edit.png') !important;
}

.icon_cup_error {
    background-image: url('/icons/32x32/cup_error.png') !important;
}

.icon_cup_go {
    background-image: url('/icons/32x32/cup_go.png') !important;
}

.icon_cup_key {
    background-image: url('/icons/32x32/cup_key.png') !important;
}

.icon_cup_link {
    background-image: url('/icons/32x32/cup_link.png') !important;
}

.icon_cursor {
    background-image: url('/icons/32x32/cursor.png') !important;
}

.icon_cut {
    background-image: url('/icons/32x32/cut.png') !important;
}

.icon_cut_red {
    background-image: url('/icons/32x32/cut_red.png') !important;
}

.icon_database {
    background-image: url('/icons/32x32/database.png') !important;
}

.icon_database_add {
    background-image: url('/icons/32x32/database_add.png') !important;
}

.icon_database_connect {
    background-image: url('/icons/32x32/database_connect.png') !important;
}

.icon_database_delete {
    background-image: url('/icons/32x32/database_delete.png') !important;
}

.icon_database_edit {
    background-image: url('/icons/32x32/database_edit.png') !important;
}

.icon_database_error {
    background-image: url('/icons/32x32/database_error.png') !important;
}

.icon_database_gear {
    background-image: url('/icons/32x32/database_gear.png') !important;
}

.icon_database_go {
    background-image: url('/icons/32x32/database_go.png') !important;
}

.icon_database_key {
    background-image: url('/icons/32x32/database_key.png') !important;
}

.icon_database_lightning {
    background-image: url('/icons/32x32/database_lightning.png') !important;
}

.icon_database_link {
    background-image: url('/icons/32x32/database_link.png') !important;
}

.icon_database_refresh {
    background-image: url('/icons/32x32/database_refresh.png') !important;
}

.icon_database_save {
    background-image: url('/icons/32x32/database_save.png') !important;
}

.icon_database_table {
    background-image: url('/icons/32x32/database_table.png') !important;
}

.icon_date {
    background-image: url('/icons/32x32/date.png') !important;
}

.icon_date_add {
    background-image: url('/icons/32x32/date_add.png') !important;
}

.icon_date_delete {
    background-image: url('/icons/32x32/date_delete.png') !important;
}

.icon_date_edit {
    background-image: url('/icons/32x32/date_edit.png') !important;
}

.icon_date_error {
    background-image: url('/icons/32x32/date_error.png') !important;
}

.icon_date_go {
    background-image: url('/icons/32x32/date_go.png') !important;
}

.icon_date_link {
    background-image: url('/icons/32x32/date_link.png') !important;
}

.icon_date_magnify {
    background-image: url('/icons/32x32/date_magnify.png') !important;
}

.icon_date_next {
    background-image: url('/icons/32x32/date_next.png') !important;
}

.icon_date_previous {
    background-image: url('/icons/32x32/date_previous.png') !important;
}

.icon_delete {
    background-image: url('/icons/32x32/delete.png') !important;
}

.icon_disconnect {
    background-image: url('/icons/32x32/disconnect.png') !important;
}

.icon_disk {
    background-image: url('/icons/32x32/disk.png') !important;
}

.icon_disk_multiple {
    background-image: url('/icons/32x32/disk_multiple.png') !important;
}

.icon_door {
    background-image: url('/icons/32x32/door.png') !important;
}

.icon_door_in {
    background-image: url('/icons/32x32/door_in.png') !important;
}

.icon_door_open {
    background-image: url('/icons/32x32/door_open.png') !important;
}

.icon_door_out {
    background-image: url('/icons/32x32/door_out.png') !important;
}

.icon_drink {
    background-image: url('/icons/32x32/drink.png') !important;
}

.icon_drink_empty {
    background-image: url('/icons/32x32/drink_empty.png') !important;
}

.icon_drive {
    background-image: url('/icons/32x32/drive.png') !important;
}

.icon_drive_add {
    background-image: url('/icons/32x32/drive_add.png') !important;
}

.icon_drive_burn {
    background-image: url('/icons/32x32/drive_burn.png') !important;
}

.icon_drive_cd {
    background-image: url('/icons/32x32/drive_cd.png') !important;
}

.icon_drive_cd_empty {
    background-image: url('/icons/32x32/drive_cd_empty.png') !important;
}

.icon_drive_delete {
    background-image: url('/icons/32x32/drive_delete.png') !important;
}

.icon_drive_disk {
    background-image: url('/icons/32x32/drive_disk.png') !important;
}

.icon_drive_edit {
    background-image: url('/icons/32x32/drive_edit.png') !important;
}

.icon_drive_error {
    background-image: url('/icons/32x32/drive_error.png') !important;
}

.icon_drive_go {
    background-image: url('/icons/32x32/drive_go.png') !important;
}

.icon_drive_key {
    background-image: url('/icons/32x32/drive_key.png') !important;
}

.icon_drive_link {
    background-image: url('/icons/32x32/drive_link.png') !important;
}

.icon_drive_magnify {
    background-image: url('/icons/32x32/drive_magnify.png') !important;
}

.icon_drive_network {
    background-image: url('/icons/32x32/drive_network.png') !important;
}

.icon_drive_rename {
    background-image: url('/icons/32x32/drive_rename.png') !important;
}

.icon_drive_user {
    background-image: url('/icons/32x32/drive_user.png') !important;
}

.icon_page_white_delete {
    background-image: url('/icons/32x32/page_white_delete.png') !important;
}

.icon_page_white_dvd {
    background-image: url('/icons/32x32/page_white_dvd.png') !important;
}

.icon_page_white_edit {
    background-image: url('/icons/32x32/page_white_edit.png') !important;
}

.icon_page_white_error {
    background-image: url('/icons/32x32/page_white_error.png') !important;
}

.icon_page_white_excel {
    background-image: url('/icons/32x32/page_white_excel.png') !important;
}

.icon_page_white_find {
    background-image: url('/icons/32x32/page_white_find.png') !important;
}

.icon_page_white_flash {
    background-image: url('/icons/32x32/page_white_flash.png') !important;
}

.icon_page_white_gear {
    background-image: url('/icons/32x32/page_white_gear.png') !important;
}

.icon_page_white_get {
    background-image: url('/icons/32x32/page_white_get.png') !important;
}

.icon_page_white_go {
    background-image: url('/icons/32x32/page_white_go.png') !important;
}

.icon_page_white_h {
    background-image: url('/icons/32x32/page_white_h.png') !important;
}

.icon_page_white_horizontal {
    background-image: url('/icons/32x32/page_white_horizontal.png') !important;
}

.icon_page_white_key {
    background-image: url('/icons/32x32/page_white_key.png') !important;
}

.icon_page_white_lightning {
    background-image: url('/icons/32x32/page_white_lightning.png') !important;
}

.icon_page_white_link {
    background-image: url('/icons/32x32/page_white_link.png') !important;
}

.icon_page_white_magnify {
    background-image: url('/icons/32x32/page_white_magnify.png') !important;
}

.icon_page_white_medal {
    background-image: url('/icons/32x32/page_white_medal.png') !important;
}

.icon_page_white_office {
    background-image: url('/icons/32x32/page_white_office.png') !important;
}

.icon_page_white_paint {
    background-image: url('/icons/32x32/page_white_paint.png') !important;
}

.icon_page_white_paintbrush {
    background-image: url('/icons/32x32/page_white_paintbrush.png') !important;
}

.icon_page_white_paste {
    background-image: url('/icons/32x32/page_white_paste.png') !important;
}

.icon_page_white_php {
    background-image: url('/icons/32x32/page_white_php.png') !important;
}

.icon_page_white_picture {
    background-image: url('/icons/32x32/page_white_picture.png') !important;
}

.icon_page_white_powerpoint {
    background-image: url('/icons/32x32/page_white_powerpoint.png') !important;
}

.icon_page_white_put {
    background-image: url('/icons/32x32/page_white_put.png') !important;
}

.icon_page_white_ruby {
    background-image: url('/icons/32x32/page_white_ruby.png') !important;
}

.icon_page_white_stack {
    background-image: url('/icons/32x32/page_white_stack.png') !important;
}

.icon_page_white_star {
    background-image: url('/icons/32x32/page_white_star.png') !important;
}

.icon_page_white_text {
    background-image: url('/icons/32x32/page_white_text.png') !important;
}

.icon_page_white_text_width {
    background-image: url('/icons/32x32/page_white_text_width.png') !important;
}

.icon_page_white_tux {
    background-image: url('/icons/32x32/page_white_tux.png') !important;
}

.icon_page_white_vector {
    background-image: url('/icons/32x32/page_white_vector.png') !important;
}

.icon_page_white_visualstudio {
    background-image: url('/icons/32x32/page_white_visualstudio.png') !important;
}

.icon_page_white_width {
    background-image: url('/icons/32x32/page_white_width.png') !important;
}

.icon_page_white_word {
    background-image: url('/icons/32x32/page_white_word.png') !important;
}

.icon_page_white_world {
    background-image: url('/icons/32x32/page_white_world.png') !important;
}

.icon_page_white_wrench {
    background-image: url('/icons/32x32/page_white_wrench.png') !important;
}

.icon_page_white_zip {
    background-image: url('/icons/32x32/page_white_zip.png') !important;
}

.icon_page_word {
    background-image: url('/icons/32x32/page_word.png') !important;
}

.icon_page_world {
    background-image: url('/icons/32x32/page_world.png') !important;
}

.icon_painbrush {
    background-image: url('/icons/32x32/painbrush.png') !important;
}

.icon_paintcan {
    background-image: url('/icons/32x32/paintcan.png') !important;
}

.icon_palette {
    background-image: url('/icons/32x32/palette.png') !important;
}

.icon_paste_plain {
    background-image: url('/icons/32x32/paste_plain.png') !important;
}

.icon_paste_word {
    background-image: url('/icons/32x32/paste_word.png') !important;
}

.icon_pencil {
    background-image: url('/icons/32x32/pencil.png') !important;
}

.icon_pencil_add {
    background-image: url('/icons/32x32/pencil_add.png') !important;
}

.icon_pencil_delete {
    background-image: url('/icons/32x32/pencil_delete.png') !important;
}

.icon_pencil_go {
    background-image: url('/icons/32x32/pencil_go.png') !important;
}

.icon_phone {
    background-image: url('/icons/32x32/phone.png') !important;
}

.icon_phone_add {
    background-image: url('/icons/32x32/phone_add.png') !important;
}

.icon_phone_delete {
    background-image: url('/icons/32x32/phone_delete.png') !important;
}

.icon_phone_sound {
    background-image: url('/icons/32x32/phone_sound.png') !important;
}

.icon_photo {
    background-image: url('/icons/32x32/photo.png') !important;
}

.icon_photos {
    background-image: url('/icons/32x32/photos.png') !important;
}

.icon_photo_add {
    background-image: url('/icons/32x32/photo_add.png') !important;
}

.icon_photo_delete {
    background-image: url('/icons/32x32/photo_delete.png') !important;
}

.icon_photo_link {
    background-image: url('/icons/32x32/photo_link.png') !important;
}

.icon_picture {
    background-image: url('/icons/32x32/picture.png') !important;
}

.icon_pictures {
    background-image: url('/icons/32x32/pictures.png') !important;
}

.icon_picture_add {
    background-image: url('/icons/32x32/picture_add.png') !important;
}

.icon_picture_delete {
    background-image: url('/icons/32x32/picture_delete.png') !important;
}

.icon_picture_edit {
    background-image: url('/icons/32x32/picture_edit.png') !important;
}

.icon_picture_empty {
    background-image: url('/icons/32x32/picture_empty.png') !important;
}

.icon_picture_error {
    background-image: url('/icons/32x32/picture_error.png') !important;
}

.icon_picture_go {
    background-image: url('/icons/32x32/picture_go.png') !important;
}

.icon_picture_key {
    background-image: url('/icons/32x32/picture_key.png') !important;
}

.icon_picture_link {
    background-image: url('/icons/32x32/picture_link.png') !important;
}

.icon_picture_save {
    background-image: url('/icons/32x32/picture_save.png') !important;
}

.icon_pilcrow {
    background-image: url('/icons/32x32/pilcrow.png') !important;
}

.icon_pill {
    background-image: url('/icons/32x32/pill.png') !important;
}

.icon_pill_add {
    background-image: url('/icons/32x32/pill_add.png') !important;
}

.icon_pill_delete {
    background-image: url('/icons/32x32/pill_delete.png') !important;
}

.icon_pill_go {
    background-image: url('/icons/32x32/pill_go.png') !important;
}

.icon_plugin {
    background-image: url('/icons/32x32/plugin.png') !important;
}

.icon_plugin_add {
    background-image: url('/icons/32x32/plugin_add.png') !important;
}

.icon_plugin_delete {
    background-image: url('/icons/32x32/plugin_delete.png') !important;
}

.icon_plugin_disabled {
    background-image: url('/icons/32x32/plugin_disabled.png') !important;
}

.icon_plugin_edit {
    background-image: url('/icons/32x32/plugin_edit.png') !important;
}

.icon_plugin_error {
    background-image: url('/icons/32x32/plugin_error.png') !important;
}

.icon_plugin_go {
    background-image: url('/icons/32x32/plugin_go.png') !important;
}

.icon_plugin_link {
    background-image: url('/icons/32x32/plugin_link.png') !important;
}

.icon_printer {
    background-image: url('/icons/32x32/printer.png') !important;
}

.icon_printer_add {
    background-image: url('/icons/32x32/printer_add.png') !important;
}

.icon_printer_delete {
    background-image: url('/icons/32x32/printer_delete.png') !important;
}

.icon_printer_empty {
    background-image: url('/icons/32x32/printer_empty.png') !important;
}

.icon_printer_error {
    background-image: url('/icons/32x32/printer_error.png') !important;
}

.icon_rainbow {
    background-image: url('/icons/32x32/rainbow.png') !important;
}

.icon_report {
    background-image: url('/icons/32x32/report.png') !important;
}

.icon_report_add {
    background-image: url('/icons/32x32/report_add.png') !important;
}

.icon_report_delete {
    background-image: url('/icons/32x32/report_delete.png') !important;
}

.icon_report_disk {
    background-image: url('/icons/32x32/report_disk.png') !important;
}

.icon_report_edit {
    background-image: url('/icons/32x32/report_edit.png') !important;
}

.icon_drive_web {
    background-image: url('/icons/32x32/drive_web.png') !important;
}

.icon_dvd {
    background-image: url('/icons/32x32/dvd.png') !important;
}

.icon_dvd_add {
    background-image: url('/icons/32x32/dvd_add.png') !important;
}

.icon_dvd_delete {
    background-image: url('/icons/32x32/dvd_delete.png') !important;
}

.icon_dvd_edit {
    background-image: url('/icons/32x32/dvd_edit.png') !important;
}

.icon_dvd_error {
    background-image: url('/icons/32x32/dvd_error.png') !important;
}

.icon_dvd_go {
    background-image: url('/icons/32x32/dvd_go.png') !important;
}

.icon_dvd_key {
    background-image: url('/icons/32x32/dvd_key.png') !important;
}

.icon_dvd_link {
    background-image: url('/icons/32x32/dvd_link.png') !important;
}

.icon_email {
    background-image: url('/icons/32x32/email.png') !important;
}

.icon_email_add {
    background-image: url('/icons/32x32/email_add.png') !important;
}

.icon_email_attach {
    background-image: url('/icons/32x32/email_attach.png') !important;
}

.icon_email_delete {
    background-image: url('/icons/32x32/email_delete.png') !important;
}

.icon_email_edit {
    background-image: url('/icons/32x32/email_edit.png') !important;
}

.icon_email_error {
    background-image: url('/icons/32x32/email_error.png') !important;
}

.icon_email_go {
    background-image: url('/icons/32x32/email_go.png') !important;
}

.icon_email_link {
    background-image: url('/icons/32x32/email_link.png') !important;
}

.icon_email_open {
    background-image: url('/icons/32x32/email_open.png') !important;
}

.icon_email_open_image {
    background-image: url('/icons/32x32/email_open_image.png') !important;
}

.icon_emotion_evilgrin {
    background-image: url('/icons/32x32/emotion_evilgrin.png') !important;
}

.icon_emotion_grin {
    background-image: url('/icons/32x32/emotion_grin.png') !important;
}

.icon_emotion_happy {
    background-image: url('/icons/32x32/emotion_happy.png') !important;
}

.icon_emotion_smile {
    background-image: url('/icons/32x32/emotion_smile.png') !important;
}

.icon_emotion_suprised {
    background-image: url('/icons/32x32/emotion_suprised.png') !important;
}

.icon_emotion_tongue {
    background-image: url('/icons/32x32/emotion_tongue.png') !important;
}

.icon_emotion_unhappy {
    background-image: url('/icons/32x32/emotion_unhappy.png') !important;
}

.icon_emotion_waii {
    background-image: url('/icons/32x32/emotion_waii.png') !important;
}

.icon_emotion_wink {
    background-image: url('/icons/32x32/emotion_wink.png') !important;
}

.icon_error {
    background-image: url('/icons/32x32/error.png') !important;
}

.icon_error_add {
    background-image: url('/icons/32x32/error_add.png') !important;
}

.icon_error_delete {
    background-image: url('/icons/32x32/error_delete.png') !important;
}

.icon_error_go {
    background-image: url('/icons/32x32/error_go.png') !important;
}

.icon_exclamation {
    background-image: url('/icons/32x32/exclamation.png') !important;
}

.icon_eye {
    background-image: url('/icons/32x32/eye.png') !important;
}

.icon_feed {
    background-image: url('/icons/32x32/feed.png') !important;
}

.icon_feed_add {
    background-image: url('/icons/32x32/feed_add.png') !important;
}

.icon_feed_delete {
    background-image: url('/icons/32x32/feed_delete.png') !important;
}

.icon_feed_disk {
    background-image: url('/icons/32x32/feed_disk.png') !important;
}

.icon_feed_edit {
    background-image: url('/icons/32x32/feed_edit.png') !important;
}

.icon_feed_error {
    background-image: url('/icons/32x32/feed_error.png') !important;
}

.icon_feed_go {
    background-image: url('/icons/32x32/feed_go.png') !important;
}

.icon_feed_key {
    background-image: url('/icons/32x32/feed_key.png') !important;
}

.icon_feed_magnify {
    background-image: url('/icons/32x32/feed_magnify.png') !important;
}

.icon_female {
    background-image: url('/icons/32x32/female.png') !important;
}

.icon_film {
    background-image: url('/icons/32x32/film.png') !important;
}

.icon_film_add {
    background-image: url('/icons/32x32/film_add.png') !important;
}

.icon_film_delete {
    background-image: url('/icons/32x32/film_delete.png') !important;
}

.icon_film_edit {
    background-image: url('/icons/32x32/film_edit.png') !important;
}

.icon_film_error {
    background-image: url('/icons/32x32/film_error.png') !important;
}

.icon_film_go {
    background-image: url('/icons/32x32/film_go.png') !important;
}

.icon_film_key {
    background-image: url('/icons/32x32/film_key.png') !important;
}

.icon_film_link {
    background-image: url('/icons/32x32/film_link.png') !important;
}

.icon_film_save {
    background-image: url('/icons/32x32/film_save.png') !important;
}

.icon_find {
    background-image: url('/icons/32x32/find.png') !important;
}

.icon_flag_blue {
    background-image: url('/icons/32x32/flag_blue.png') !important;
}

.icon_flag_green {
    background-image: url('/icons/32x32/flag_green.png') !important;
}

.icon_flag_orange {
    background-image: url('/icons/32x32/flag_orange.png') !important;
}

.icon_flag_pink {
    background-image: url('/icons/32x32/flag_pink.png') !important;
}

.icon_flag_purple {
    background-image: url('/icons/32x32/flag_purple.png') !important;
}

.icon_flag_red {
    background-image: url('/icons/32x32/flag_red.png') !important;
}

.icon_flag_yellow {
    background-image: url('/icons/32x32/flag_yellow.png') !important;
}

.icon_folder {
    background-image: url('/icons/32x32/folder.png') !important;
}

.icon_folder_add {
    background-image: url('/icons/32x32/folder_add.png') !important;
}

.icon_folder_bell {
    background-image: url('/icons/32x32/folder_bell.png') !important;
}

.icon_folder_brick {
    background-image: url('/icons/32x32/folder_brick.png') !important;
}

.icon_folder_bug {
    background-image: url('/icons/32x32/folder_bug.png') !important;
}

.icon_folder_camera {
    background-image: url('/icons/32x32/folder_camera.png') !important;
}

.icon_folder_database {
    background-image: url('/icons/32x32/folder_database.png') !important;
}

.icon_folder_delete {
    background-image: url('/icons/32x32/folder_delete.png') !important;
}

.icon_folder_edit {
    background-image: url('/icons/32x32/folder_edit.png') !important;
}

.icon_folder_error {
    background-image: url('/icons/32x32/folder_error.png') !important;
}

.icon_folder_explore {
    background-image: url('/icons/32x32/folder_explore.png') !important;
}

.icon_folder_feed {
    background-image: url('/icons/32x32/folder_feed.png') !important;
}

.icon_folder_find {
    background-image: url('/icons/32x32/folder_find.png') !important;
}

.icon_folder_go {
    background-image: url('/icons/32x32/folder_go.png') !important;
}

.icon_folder_heart {
    background-image: url('/icons/32x32/folder_heart.png') !important;
}

.icon_folder_image {
    background-image: url('/icons/32x32/folder_image.png') !important;
}

.icon_folder_key {
    background-image: url('/icons/32x32/folder_key.png') !important;
}

.icon_folder_lightbulb {
    background-image: url('/icons/32x32/folder_lightbulb.png') !important;
}

.icon_folder_link {
    background-image: url('/icons/32x32/folder_link.png') !important;
}

.icon_folder_page {
    background-image: url('/icons/32x32/folder_page.png') !important;
}

.icon_folder_page_white {
    background-image: url('/icons/32x32/folder_page_white.png') !important;
}

.icon_folder_palette {
    background-image: url('/icons/32x32/folder_palette.png') !important;
}

.icon_folder_picture {
    background-image: url('/icons/32x32/folder_picture.png') !important;
}

.icon_folder_star {
    background-image: url('/icons/32x32/folder_star.png') !important;
}

.icon_folder_table {
    background-image: url('/icons/32x32/folder_table.png') !important;
}

.icon_folder_user {
    background-image: url('/icons/32x32/folder_user.png') !important;
}

.icon_folder_wrench {
    background-image: url('/icons/32x32/folder_wrench.png') !important;
}

.icon_font {
    background-image: url('/icons/32x32/font.png') !important;
}

.icon_font_add {
    background-image: url('/icons/32x32/font_add.png') !important;
}

.icon_font_delete {
    background-image: url('/icons/32x32/font_delete.png') !important;
}

.icon_font_go {
    background-image: url('/icons/32x32/font_go.png') !important;
}

.icon_group {
    background-image: url('/icons/32x32/group.png') !important;
}

.icon_group_add {
    background-image: url('/icons/32x32/group_add.png') !important;
}

.icon_group_delete {
    background-image: url('/icons/32x32/group_delete.png') !important;
}

.icon_group_edit {
    background-image: url('/icons/32x32/group_edit.png') !important;
}

.icon_group_error {
    background-image: url('/icons/32x32/group_error.png') !important;
}

.icon_group_gear {
    background-image: url('/icons/32x32/group_gear.png') !important;
}

.icon_group_go {
    background-image: url('/icons/32x32/group_go.png') !important;
}

.icon_group_key {
    background-image: url('/icons/32x32/group_key.png') !important;
}

.icon_group_link {
    background-image: url('/icons/32x32/group_link.png') !important;
}

.icon_heart {
    background-image: url('/icons/32x32/heart.png') !important;
}

.icon_heart_add {
    background-image: url('/icons/32x32/heart_add.png') !important;
}

.icon_heart_delete {
    background-image: url('/icons/32x32/heart_delete.png') !important;
}

.icon_help {
    background-image: url('/icons/32x32/help.png') !important;
}

.icon_hourglass {
    background-image: url('/icons/32x32/hourglass.png') !important;
}

.icon_hourglass_add {
    background-image: url('/icons/32x32/hourglass_add.png') !important;
}

.icon_hourglass_delete {
    background-image: url('/icons/32x32/hourglass_delete.png') !important;
}

.icon_hourglass_go {
    background-image: url('/icons/32x32/hourglass_go.png') !important;
}

.icon_hourglass_link {
    background-image: url('/icons/32x32/hourglass_link.png') !important;
}

.icon_house {
    background-image: url('/icons/32x32/house.png') !important;
}

.icon_house_go {
    background-image: url('/icons/32x32/house_go.png') !important;
}

.icon_house_link {
    background-image: url('/icons/32x32/house_link.png') !important;
}

.icon_html {
    background-image: url('/icons/32x32/html.png') !important;
}

.icon_html_add {
    background-image: url('/icons/32x32/html_add.png') !important;
}

.icon_html_delete {
    background-image: url('/icons/32x32/html_delete.png') !important;
}

.icon_html_go {
    background-image: url('/icons/32x32/html_go.png') !important;
}

.icon_html_valid {
    background-image: url('/icons/32x32/html_valid.png') !important;
}

.icon_image {
    background-image: url('/icons/32x32/image.png') !important;
}

.icon_images {
    background-image: url('/icons/32x32/images.png') !important;
}

.icon_image_add {
    background-image: url('/icons/32x32/image_add.png') !important;
}

.icon_image_delete {
    background-image: url('/icons/32x32/image_delete.png') !important;
}

.icon_image_edit {
    background-image: url('/icons/32x32/image_edit.png') !important;
}

.icon_image_link {
    background-image: url('/icons/32x32/image_link.png') !important;
}

.icon_information {
    background-image: url('/icons/32x32/information.png') !important;
}

.icon_ipod {
    background-image: url('/icons/32x32/ipod.png') !important;
}

.icon_ipod_cast {
    background-image: url('/icons/32x32/ipod_cast.png') !important;
}

.icon_ipod_cast_add {
    background-image: url('/icons/32x32/ipod_cast_add.png') !important;
}

.icon_ipod_cast_delete {
    background-image: url('/icons/32x32/ipod_cast_delete.png') !important;
}

.icon_ipod_sound {
    background-image: url('/icons/32x32/ipod_sound.png') !important;
}

.icon_joystick {
    background-image: url('/icons/32x32/joystick.png') !important;
}

.icon_joystick_add {
    background-image: url('/icons/32x32/joystick_add.png') !important;
}

.icon_joystick_delete {
    background-image: url('/icons/32x32/joystick_delete.png') !important;
}

.icon_joystick_error {
    background-image: url('/icons/32x32/joystick_error.png') !important;
}

.icon_key {
    background-image: url('/icons/32x32/key.png') !important;
}

.icon_keyboard {
    background-image: url('/icons/32x32/keyboard.png') !important;
}

.icon_keyboard_add {
    background-image: url('/icons/32x32/keyboard_add.png') !important;
}

.icon_keyboard_delete {
    background-image: url('/icons/32x32/keyboard_delete.png') !important;
}

.icon_keyboard_magnify {
    background-image: url('/icons/32x32/keyboard_magnify.png') !important;
}

.icon_key_add {
    background-image: url('/icons/32x32/key_add.png') !important;
}

.icon_key_delete {
    background-image: url('/icons/32x32/key_delete.png') !important;
}

.icon_key_go {
    background-image: url('/icons/32x32/key_go.png') !important;
}

.icon_layers {
    background-image: url('/icons/32x32/layers.png') !important;
}

.icon_layout {
    background-image: url('/icons/32x32/layout.png') !important;
}

.icon_layout_add {
    background-image: url('/icons/32x32/layout_add.png') !important;
}

.icon_layout_content {
    background-image: url('/icons/32x32/layout_content.png') !important;
}

.icon_layout_delete {
    background-image: url('/icons/32x32/layout_delete.png') !important;
}

.icon_layout_edit {
    background-image: url('/icons/32x32/layout_edit.png') !important;
}

.icon_layout_error {
    background-image: url('/icons/32x32/layout_error.png') !important;
}

.icon_layout_header {
    background-image: url('/icons/32x32/layout_header.png') !important;
}

.icon_layout_link {
    background-image: url('/icons/32x32/layout_link.png') !important;
}

.icon_layout_sidebar {
    background-image: url('/icons/32x32/layout_sidebar.png') !important;
}

.icon_lightbulb {
    background-image: url('/icons/32x32/lightbulb.png') !important;
}

.icon_lightbulb_add {
    background-image: url('/icons/32x32/lightbulb_add.png') !important;
}

.icon_lightbulb_delete {
    background-image: url('/icons/32x32/lightbulb_delete.png') !important;
}

.icon_lightbulb_off {
    background-image: url('/icons/32x32/lightbulb_off.png') !important;
}

.icon_lightning {
    background-image: url('/icons/32x32/lightning.png') !important;
}

.icon_lightning_add {
    background-image: url('/icons/32x32/lightning_add.png') !important;
}

.icon_lightning_delete {
    background-image: url('/icons/32x32/lightning_delete.png') !important;
}

.icon_lightning_go {
    background-image: url('/icons/32x32/lightning_go.png') !important;
}

.icon_link {
    background-image: url('/icons/32x32/link.png') !important;
}

.icon_link_add {
    background-image: url('/icons/32x32/link_add.png') !important;
}

.icon_link_break {
    background-image: url('/icons/32x32/link_break.png') !important;
}

.icon_link_delete {
    background-image: url('/icons/32x32/link_delete.png') !important;
}

.icon_link_edit {
    background-image: url('/icons/32x32/link_edit.png') !important;
}

.icon_link_go {
    background-image: url('/icons/32x32/link_go.png') !important;
}

.icon_lock {
    background-image: url('/icons/32x32/lock.png') !important;
}

.icon_lock_add {
    background-image: url('/icons/32x32/lock_add.png') !important;
}

.icon_lock_break {
    background-image: url('/icons/32x32/lock_break.png') !important;
}

.icon_lock_delete {
    background-image: url('/icons/32x32/lock_delete.png') !important;
}

.icon_lock_edit {
    background-image: url('/icons/32x32/lock_edit.png') !important;
}

.icon_lock_go {
    background-image: url('/icons/32x32/lock_go.png') !important;
}

.icon_lock_open {
    background-image: url('/icons/32x32/lock_open.png') !important;
}

.icon_lorry {
    background-image: url('/icons/32x32/lorry.png') !important;
}

.icon_lorry_add {
    background-image: url('/icons/32x32/lorry_add.png') !important;
}

.icon_lorry_delete {
    background-image: url('/icons/32x32/lorry_delete.png') !important;
}

.icon_lorry_error {
    background-image: url('/icons/32x32/lorry_error.png') !important;
}

.icon_lorry_flatbed {
    background-image: url('/icons/32x32/lorry_flatbed.png') !important;
}

.icon_lorry_go {
    background-image: url('/icons/32x32/lorry_go.png') !important;
}

.icon_lorry_link {
    background-image: url('/icons/32x32/lorry_link.png') !important;
}

.icon_magnifier {
    background-image: url('/icons/32x32/magnifier.png') !important;
}

.icon_magnifier_zoom_in {
    background-image: url('/icons/32x32/magnifier_zoom_in.png') !important;
}

.icon_magnifier_zoom_out {
    background-image: url('/icons/32x32/magnifier_zoom_out.png') !important;
}

.icon_male {
    background-image: url('/icons/32x32/male.png') !important;
}

.icon_map {
    background-image: url('/icons/32x32/map.png') !important;
}

.icon_map_add {
    background-image: url('/icons/32x32/map_add.png') !important;
}

.icon_report_go {
    background-image: url('/icons/32x32/report_go.png') !important;
}

.icon_report_key {
    background-image: url('/icons/32x32/report_key.png') !important;
}

.icon_report_link {
    background-image: url('/icons/32x32/report_link.png') !important;
}

.icon_report_magnify {
    background-image: url('/icons/32x32/report_magnify.png') !important;
}

.icon_report_picture {
    background-image: url('/icons/32x32/report_picture.png') !important;
}

.icon_report_user {
    background-image: url('/icons/32x32/report_user.png') !important;
}

.icon_report_word {
    background-image: url('/icons/32x32/report_word.png') !important;
}

.icon_resultset_first {
    background-image: url('/icons/32x32/resultset_first.png') !important;
}

.icon_resultset_last {
    background-image: url('/icons/32x32/resultset_last.png') !important;
}

.icon_resultset_next {
    background-image: url('/icons/32x32/resultset_next.png') !important;
}

.icon_resultset_previous {
    background-image: url('/icons/32x32/resultset_previous.png') !important;
}

.icon_rosette {
    background-image: url('/icons/32x32/rosette.png') !important;
}

.icon_rss {
    background-image: url('/icons/32x32/rss.png') !important;
}

.icon_rss_add {
    background-image: url('/icons/32x32/rss_add.png') !important;
}

.icon_rss_delete {
    background-image: url('/icons/32x32/rss_delete.png') !important;
}

.icon_rss_go {
    background-image: url('/icons/32x32/rss_go.png') !important;
}

.icon_rss_valid {
    background-image: url('/icons/32x32/rss_valid.png') !important;
}

.icon_ruby {
    background-image: url('/icons/32x32/ruby.png') !important;
}

.icon_ruby_add {
    background-image: url('/icons/32x32/ruby_add.png') !important;
}

.icon_ruby_delete {
    background-image: url('/icons/32x32/ruby_delete.png') !important;
}

.icon_ruby_gear {
    background-image: url('/icons/32x32/ruby_gear.png') !important;
}

.icon_ruby_get {
    background-image: url('/icons/32x32/ruby_get.png') !important;
}

.icon_ruby_go {
    background-image: url('/icons/32x32/ruby_go.png') !important;
}

.icon_ruby_key {
    background-image: url('/icons/32x32/ruby_key.png') !important;
}

.icon_ruby_link {
    background-image: url('/icons/32x32/ruby_link.png') !important;
}

.icon_ruby_put {
    background-image: url('/icons/32x32/ruby_put.png') !important;
}

.icon_script {
    background-image: url('/icons/32x32/script.png') !important;
}

.icon_script_add {
    background-image: url('/icons/32x32/script_add.png') !important;
}

.icon_script_code {
    background-image: url('/icons/32x32/script_code.png') !important;
}

.icon_script_code_red {
    background-image: url('/icons/32x32/script_code_red.png') !important;
}

.icon_script_delete {
    background-image: url('/icons/32x32/script_delete.png') !important;
}

.icon_script_edit {
    background-image: url('/icons/32x32/script_edit.png') !important;
}

.icon_script_error {
    background-image: url('/icons/32x32/script_error.png') !important;
}

.icon_script_gear {
    background-image: url('/icons/32x32/script_gear.png') !important;
}

.icon_script_go {
    background-image: url('/icons/32x32/script_go.png') !important;
}

.icon_script_key {
    background-image: url('/icons/32x32/script_key.png') !important;
}

.icon_script_lightning {
    background-image: url('/icons/32x32/script_lightning.png') !important;
}

.icon_script_link {
    background-image: url('/icons/32x32/script_link.png') !important;
}

.icon_script_palette {
    background-image: url('/icons/32x32/script_palette.png') !important;
}

.icon_script_save {
    background-image: url('/icons/32x32/script_save.png') !important;
}

.icon_server {
    background-image: url('/icons/32x32/server.png') !important;
}

.icon_server_add {
    background-image: url('/icons/32x32/server_add.png') !important;
}

.icon_server_chart {
    background-image: url('/icons/32x32/server_chart.png') !important;
}

.icon_server_compress {
    background-image: url('/icons/32x32/server_compress.png') !important;
}

.icon_server_connect {
    background-image: url('/icons/32x32/server_connect.png') !important;
}

.icon_server_database {
    background-image: url('/icons/32x32/server_database.png') !important;
}

.icon_server_delete {
    background-image: url('/icons/32x32/server_delete.png') !important;
}

.icon_server_edit {
    background-image: url('/icons/32x32/server_edit.png') !important;
}

.icon_server_error {
    background-image: url('/icons/32x32/server_error.png') !important;
}

.icon_server_go {
    background-image: url('/icons/32x32/server_go.png') !important;
}

.icon_server_key {
    background-image: url('/icons/32x32/server_key.png') !important;
}

.icon_server_lightning {
    background-image: url('/icons/32x32/server_lightning.png') !important;
}

.icon_server_link {
    background-image: url('/icons/32x32/server_link.png') !important;
}

.icon_server_uncompress {
    background-image: url('/icons/32x32/server_uncompress.png') !important;
}

.icon_shading {
    background-image: url('/icons/32x32/shading.png') !important;
}

.icon_shape_align_bottom {
    background-image: url('/icons/32x32/shape_align_bottom.png') !important;
}

.icon_shape_align_center {
    background-image: url('/icons/32x32/shape_align_center.png') !important;
}

.icon_shape_align_left {
    background-image: url('/icons/32x32/shape_align_left.png') !important;
}

.icon_shape_align_middle {
    background-image: url('/icons/32x32/shape_align_middle.png') !important;
}

.icon_shape_align_right {
    background-image: url('/icons/32x32/shape_align_right.png') !important;
}

.icon_shape_align_top {
    background-image: url('/icons/32x32/shape_align_top.png') !important;
}

.icon_shape_flip_horizontal {
    background-image: url('/icons/32x32/shape_flip_horizontal.png') !important;
}

.icon_shape_flip_vertical {
    background-image: url('/icons/32x32/shape_flip_vertical.png') !important;
}

.icon_shape_group {
    background-image: url('/icons/32x32/shape_group.png') !important;
}

.icon_shape_handles {
    background-image: url('/icons/32x32/shape_handles.png') !important;
}

.icon_shape_move_back {
    background-image: url('/icons/32x32/shape_move_back.png') !important;
}

.icon_shape_move_backwards {
    background-image: url('/icons/32x32/shape_move_backwards.png') !important;
}