.active-row {
    color: #000;
}
.no-active-row {
    color: #999;
}

.contractor_accept {
              background-image: url('/icons/16x16/accept.png')  no-repeat left;
              padding-left: 16px; 
}